$rojo: #900;
$verde: #090;

/* Lo uso acá solo a modo de ejemplo, lo debería poner en el archivo que corresponda */

.border-menu {
    border: 1px solid darken ($rojo, 20%);
}

.bg-fotos {
    background-color: $verde;

    &:hover {
        background-color: lighten ($verde, 20%);
    }   
}

.textos {
    color: rgba ($rojo, 0.4);
}

.seccion-loca {
    background-color: mix ($verde, $rojo);
}
