/* Extensiones */
/* Es una bolsita de propiedades para reutilizarlo */
/* Placeholder % */

%mensaje {
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
}

%flex {
    display: flex;
    justify-content: center;
}

.error {
    background-color: red;
    @extend %mensaje;
    @extend %flex;
}

.accept {
    background-color: green;
    @extend %mensaje;
    @extend %flex;
}
